<main>
  <div class="container py-4">
    <header class=" pb-3 mb-4 border-bottom">
      <nav class="container" aria-label="Main navigation">
        <a href="" class="d-flex align-items-center text-dark text-decoration-none" alt="Accueil" aria-label="Ndiouck">
          <img src="./assets/params/images/logo/rss.png" srcset="./assets/params/images/logo/rss.png,
          ./assets/params/images/logo/rss.png 2x" width="25" height="25" alt="Logo RSS">
          <span class="nga-logo mx-1">Lecteur RSS | Par I. Ndiouck</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">
              <i class="fas fa-home me-1"></i>Home</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/about">
              <i class="far fa-question-circle me-1"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/contact">
              <i class="fas fa-envelope me-1"></i></a>
          </li>
        </ul>
        <form class="d-flex">
          <button type="button" class="btn btn-sm nga-btn-navbar me-2" routerLink="/signup"><i
              class="fas fa-user-plus me-2"></i>S'inscrire</button>
          <button type="button" class="btn btn-sm btn-outline-light me-2" routerLink="/login"><i
              class="fas fa-sign-in-alt me-2"></i>Se connecter</button>
        </form>
        </div>
      </nav>
    </header>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5" >
        <h1 class="display-5 fw-bold">{{ title }}</h1>
        <p class="col-md-8 fs-4">{{ description }}</p>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class=" col-md-6" *ngFor="let feed of feeds | paginate: { itemsPerPage: 4, currentPage: page, totalItems: totalLenght }; let i = index;">
        <div class="card mb-4">
  
          <a [href]="feed.link">
            <img [src]="feed.enclosure.link" class="card-img-top" [alt]="feed.title">
          </a>
          <div class="card-body h-100 p-5 bg-light border rounded-3">
            <h5 class="card-title"> {{feed.title}} <br>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#modal'+i">
                <svg height="16" viewBox="0 0 1792 1792" width="16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M888 1184l116-116-152-152-116 116v56h96v96h56zm440-720q-16-16-33 1l-350 350q-17 17-1 33t33-1l350-350q17-17
                   1-33zm80 594v190q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63
                    0 117 25 15 7 18 23 3 17-9 29l-49 49q-14 14-32 8-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 
                    113-47t47-113v-126q0-13 9-22l64-64q15-15 35-7t20 29zm-96-738l288 288-672 672h-288v-288zm444 132l-92 92-288-288 92-92q28-28 
                    68-28t68 28l152 152q28 28 28 68t-28 68z"/>
                </svg>
                  Modifier
              </button>
            </h5>
            <p class="card-text">{{feed.content}}
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#modalcontent'+i">
                <svg height="16" viewBox="0 0 1792 1792" width="16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M888 1184l116-116-152-152-116 116v56h96v96h56zm440-720q-16-16-33 1l-350 350q-17 17-1 33t33-1l350-350q17-17
                   1-33zm80 594v190q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63
                    0 117 25 15 7 18 23 3 17-9 29l-49 49q-14 14-32 8-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 
                    113-47t47-113v-126q0-13 9-22l64-64q15-15 35-7t20 29zm-96-738l288 288-672 672h-288v-288zm444 132l-92 92-288-288 92-92q28-28 
                    68-28t68 28l152 152q28 28 28 68t-28 68z"/>
                </svg>
                Modifier
              </button>
            </p>
            <p class="card-text"><small class="text-muted">Date de publication {{feed.pubDate}}</small></p>
          </div>
        </div>
              <!-- Modal -->
              <div class="modal fade" [id]="'modal'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <form (ngSubmit)="onSubmitForm()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouveau titre</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <input id="title" name="title" type="text" [(ngModel)]="feed.title">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enregistrer</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            <!-- Modal -->
      
            <!-- Modal -->
              <div class="modal fade" [id]="'modalcontent'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <form (ngSubmit)="onSubmitForm()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouveau extrait</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <textarea id="content" name="content" type="text" [(ngModel)]="feed.content"></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enregistrer</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            <!-- Modal -->
      </div>
    </div>
  
  </div>
</main>

<!-- Pied de Page -->
<footer class="nga-footer">
  <div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
  <div class="py-3 text-center">
    <div class="container">
     (C) 2022 <a href="https://github.com/weexduunx"> Idrissa Ndiouck</a>
    </div>
  </div>
</footer>
<!-- Pied de Page -->


